---
url: https://developer.huawei.com/consumer/cn/doc/harmonyos-guides/app-data-migration-verification
title: 验证应用数据迁移
breadcrumb: 指南 > 应用框架 > Core File Kit（文件基础服务） > 应用文件 > 应用数据备份恢复 > 设备升级应用数据迁移适配指导 > 验证应用数据迁移
category: harmonyos-guides
scraped_at: 2026-04-28T07:41:14+08:00
doc_updated_at: 2026-03-09
content_hash: sha256:af051ee92049ce0ba434ea6ff7076831087bf80dfacf7c989d1beef47908a61c
---

* **[开发者自验证](self-verification.md)**
* **[端到端验证](e2e-verification.md)**
