---
url: https://developer.huawei.com/consumer/cn/doc/harmonyos-guides/huks-ukey-signing-signature-verification
title: 签名/验签
breadcrumb: 指南 > 系统 > 安全 > Universal Keystore Kit（密钥管理服务） > 外部密钥管理扩展 > 签名/验签
category: harmonyos-guides
scraped_at: 2026-04-28T07:43:33+08:00
doc_updated_at: 2026-03-09
content_hash: sha256:ee2dd50708973d83a481e1191ea69dcd7cb2bb8f61a181a2c541a26a586a47f5
---

* **[签名/验签介绍及算法规格](huks-ukey-signing-signature-verification-overview.md)**
* **[签名/验签(ArkTS)](huks-ukey-signing-signature-verification-arkts.md)**
* **[签名/验签(C/C++)](huks-ukey-signing-signature-verification-ndk.md)**
