---
url: https://developer.huawei.com/consumer/cn/doc/harmonyos-guides/huks-signing-signature-verification
title: 签名/验签
breadcrumb: 指南 > 系统 > 安全 > Universal Keystore Kit（密钥管理服务） > 本地密钥管理 > 密钥使用 > 签名/验签
category: harmonyos-guides
scraped_at: 2026-04-28T07:43:18+08:00
doc_updated_at: 2026-03-09
content_hash: sha256:db3fcf9c4e2850142e7e1b0bb8aa6348899f12a6ae61cb7bf4dec61ae97a4aa4
---

* **[签名/验签介绍及算法规格](huks-signing-signature-verification-overview.md)**
* **[签名/验签(ArkTS)](huks-signing-signature-verification-arkts.md)**
* **[签名/验签(C/C++)](huks-signing-signature-verification-ndk.md)**
