---
url: https://developer.huawei.com/consumer/cn/doc/harmonyos-releases/compatibility-verification
title: 在历史版本设备上进行应用的兼容性验证
breadcrumb: 版本说明 > 应用升级适配指导-向6.0.0(20)升级 > 在历史版本设备上进行应用的兼容性验证
category: harmonyos-releases
scraped_at: 2026-04-28T07:37:20+08:00
doc_updated_at: 2026-01-21
content_hash: sha256:6bcaa8bba210f9e3e03dbd654e8e7078bde8a4c747794d39d59233a323908334
---

应用基于新的SDK进行编译后，需要将应用安装到历史版本的设备上进行全量测试验证，覆盖所有的功能点来发现可能存在的不兼容问题。
